@page
@model Torneo.App.Frontend.Pages.Equipos.IndexModel
@{
}
@if (Model.ErrorEliminar)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ocurrio un error</strong> No se pudo eliminar el Equipo.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form method="post">   
     <div id=contenedor1> 
        <h4>Filtrar equipos por municipio</h4>
        <div class="input-group mb-3 w-50 p-3">            
            <select asp-for="MunicipioSelected" asp-items="@Model.MunicipioOptions"
            name="idMunicipio" class="form-control">
            <option value="-1">Ver todos</option>
            </select>
            <button class="btn btn-primary" asp-page-handler="Filtro">
                Filtrar
            </button>
        </div>
    </div>
</form>
<form method="post">
    <div id=contenedor2>
        <h4>Busqueda de equipos</h4>
        <div class="input-group mb-3 w-50 p-3">
        <!-- input tipo texto que valida el tamaño maximo y utiliza expresion regular [A-Za-z0-9\s]* solo letras y numeros, espacios en blanco que permite minimo 0 y mas de un caracter-->
        <input asp-for="@Model.BusquedaActual" name="Nombre" id="txtBuscadorEquipo" class="form-control" minlength="0" maxlength="30" pattern="[A-Za-z0-9\s]*"
        placeholder="Ingrese el nombre de un equipo"  title="Solo caracteres alfanumericos. Tamaño máximo: 30">
        <button class="btn btn-primary" asp-page-handler="Buscar">
            Buscar
        </button>
        </div>
    </div>  
</form>
<h1>Listado de Equipos de Fútbol
    @if(User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" asp-page="./Create">Crear equipos</a>
    }
</h1>
<table class="table table-dark table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre del Equipo</th>
            <th scope="col">Municipio</th>
            <th scope="col">Director Técnico</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var equipo in Model.equipos)
        {
            <tr>                
                <td>@equipo.Id</td>                
                <td>@equipo.Nombre</td>                
                <td>@equipo.Municipio.Nombre</td>                
                <td>@equipo.DirectorTecnico.Nombre</td>                
                
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@equipo.Id">
                        Detalle
                    </a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@equipo.Id">
                        Editar
                    </a>
                    @if (equipo != null && equipo.Jugadores != null && equipo.PartidosLocal != null && equipo.PartidosVisitante != null && 
                    equipo.Jugadores.Count == 0 && equipo.PartidosLocal.Count == 0 && equipo.PartidosVisitante.Count == 0) 
                    {                
                        <form method="post" class="d-inline">
                            <button asp-page-handler="Delete" asp-route-id="@equipo.Id"
                            onclick="return confirm('Esta seguro de eliminar el equipo?')"
                            class="btn btn-danger">
                            Eliminar
                            </button>
                        </form>
                    }
                    else
                    {                        
                            <button asp-page-handler="Delete" 
                            class="btn btn-outline-danger" disabled >
                            Eliminar
                            </button>                       
                    }                                 
                </td>
                
            </tr>
        }
    </tbody>
</table>
