@page
@model Torneo.App.Frontend.Pages.Partidos.IndexModel
@{
}
@if (Model.ErrorEliminar)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ocurrio un error</strong> No se pudo eliminar el Partido.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<h1>Listado de Partidos
    @if(User.Identity.IsAuthenticated)
    {
    <a class="btn btn-primary" asp-page="./Create">Crear partido</a>
    }
</h1>
<table class="table table-dark table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Fecha</th>
            <th scope="col">Local</th>
            <th scope="col">Visitante</th>
            <th scope="col">Goles Local</th>
            <th scope="col">Goles Visitante</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var partido in Model.Partidos)
        {
            <tr>
                <td>@partido.Id</td>
                <td>@partido.FechaHora</td>
                <td>@partido.Local.Nombre</td>
                <td>@partido.Visitante.Nombre</td>
                <td>@partido.MarcadorLocal</td>
                <td>@partido.MarcadorVisitante</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@partido.Id">
                        Detalle
                    </a>
                    @if(User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@partido.Id">
                            Editar
                        </a>
                    
                        <form method="post" class="d-inline">
                            <button asp-page-handler="Delete" asp-route-id="@partido.Id"
                                onclick="return confirm('Esta seguro de eliminar el Partido?')"
                                class="btn btn-danger">
                                Eliminar
                            </button>
                        </form>
                    }
                    else
                    {
                         <a class="btn btn-outline-secondary disabled">
                            Editar
                        </a>

                        <button 
                            class="btn btn-outline-danger" disabled>
                            Eliminar
                        </button>  
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>